<p>
  <strong><%= User.human_attribute_name('first_name') %></strong>
  <%= user.first_name %>
</p>

<p>
  <strong><%= User.human_attribute_name('preposition') %></strong>
  <%= user.preposition %>
</p>

<p>
  <strong><%= User.human_attribute_name('last_name') %></strong>
  <%= user.last_name %>
</p>

<p>
  <strong><%= User.human_attribute_name('username') %></strong>
  <%= user.username %>
</p>

<p>
  <strong><%= User.human_attribute_name('birthdate') %></strong>
  <%= user.birthdate %>
</p>

<p>
  <strong><%= User.human_attribute_name('phone_number') %></strong>
  <%= user.phone_number %>
</p>

<p>
  <strong><%= User.human_attribute_name('email') %></strong>
  <%= user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name('gender') %></strong>
  <%= user.gender %>
</p>

<p>
  <strong><%= User.human_attribute_name('hide_last_name') %></strong>
  <%= user.hide_last_name %>
</p>
