<%= render partial: "users/details", locals: { user: user } %>

<p>
  <strong>First aid:</strong>
  <%= @user.firstaid %>
</p>

<p>
  <strong>BHV:</strong>
  <%= @user.bhv %>
</p>

<%= render partial: "users/address", locals: { address: user.address } %>

<%= render partial: "users/medical_details" %>

<%= render partial: "users/emergency_contacts" %>

