<h1><%= t('users.listing') %></h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name('first_name') %></th>
      <th><%= User.human_attribute_name('preposition') %></th>
      <th><%= User.human_attribute_name('last_name') %></th>
      <th><%= User.human_attribute_name('username') %></th>
      <th><%= User.human_attribute_name('birthdate') %></th>
      <th><%= User.human_attribute_name('phone_number') %></th>
      <th><%= User.human_attribute_name('email') %></th>
      <th><%= User.human_attribute_name('gender') %></th>
      <th><%= User.human_attribute_name('hide_last_name') %></th>
      <th><%= User.human_attribute_name('firstaid') %></th>
      <th><%= User.human_attribute_name('bhv') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.preposition %></td>
        <td><%= user.last_name %></td>
        <td><%= user.username %></td>
        <td><%= user.birthdate %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= user.hide_last_name %></td>
        <td><%= user.firstaid %></td>
        <td><%= user.bhv %></td>
        <td><%= link_to t('common.show'), user %></td>
        <td><%= link_to t('common.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('common.destroy'), user, method: :delete, data: { confirm: t('common.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('users.new_user'), new_user_path %>
