<%= form_for(registration) do |f| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', model: Registration.model_name.human, count: registration.errors.size) %></h2>

      <ul>
      <% registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= collection_select(:registration, :user, User.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= collection_select(:registration, :event, Event.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
