<h1><%= t('registrations.listing') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Registration.human_attribute_name('user') %></th>
      <th><%= Registration.human_attribute_name('event') %></th>
      <th><%= Registration.human_attribute_name('status') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.user %></td>
        <td><%= registration.event %></td>
        <td><%= registration.status %></td>
        <td><%= link_to t('common.show'), registration %></td>
        <td><%= link_to t('common.edit'), edit_registration_path(registration) %></td>
        <td><%= link_to t('common.destroy'), registration, method: :delete, data: { confirm: t('common.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('registrations.new_registration'), new_registration_path %>
