<h1><%= t('events.listing') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Event.human_attribute_name('name') %></th>
      <th><%= Event.human_attribute_name('title') %></th>
      <th><%= Event.human_attribute_name('start_date') %></th>
      <th><%= Event.human_attribute_name('end_date') %></th>
      <th><%= Event.human_attribute_name('location_name') %></th>
      <th><%= Event.human_attribute_name('location_info') %></th>
      <th><%= Event.human_attribute_name('description') %></th>
      <th><%= Event.human_attribute_name('url') %></th>
      <th><%= Series.model_name.human %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.title %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.location_name %></td>
        <td><%= event.location_info %></td>
        <td><%= event.description %></td>
        <td><%= event.url %></td>
        <td><%= event.series_id %></td>
        <td><%= link_to t('common.show'), event %></td>
        <td><%= link_to t('common.edit'), edit_event_path(event) %></td>
        <td><%= link_to t('common.destroy'), event, method: :delete, data: { confirm: t('common.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('events.new_event'), new_event_path %>
