<p id="notice"><%= notice %></p>

<p>
  <strong><%= Event.human_attribute_name('name') %>:</strong>
  <%= @event.name %>
</p>

<p>
  <strong><%= Event.human_attribute_name('title') %>:</strong>
  <%= @event.title %>
</p>

<p>
  <strong><%= Event.human_attribute_name('start_date') %>:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong><%= Event.human_attribute_name('end_date') %>:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong><%= Event.human_attribute_name('location_name') %>:</strong>
  <%= @event.location_name %>
</p>

<p>
  <strong><%= Event.human_attribute_name('location_info') %>:</strong>
  <%= @event.location_info %>
</p>

<p>
  <strong><%= Event.human_attribute_name('description') %>:</strong>
  <%= @event.description %>
</p>

<p>
  <strong><%= Event.human_attribute_name('url') %>:</strong>
  <%= @event.url %>
</p>

<p>
  <strong><%= Series.model_name.human %>:</strong>
  <%= @event.series_id %>
</p>

<%= link_to t('common.edit'), edit_event_path(@event) %> |
<%= link_to t('common.back'), events_path %>
