<p id="notice"><%= notice %></p>

<p>
  <strong><%= Series.human_attribute_name('name') %></strong>
  <%= @series.name %>
</p>

<p>
  <strong><%= Series.human_attribute_name('url') %></strong>
  <%= @series.url %>
</p>

<p>
  <strong><%= Series.human_attribute_name('email') %></strong>
  <%= @series.url %>
</p>

<%= link_to t('common.edit'), edit_series_path(@series) %> |
<%= link_to t('common.back'), series_index_path %>
