<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to t('topbar.dashboard'), root_path -%></li>
        <li><%= link_to t('topbar.users'), users_path -%></li>
        <li><%= link_to t('topbar.registrations'), registrations_path -%></li>
        <li><%= link_to t('topbar.events'), events_path -%></li>
        <li><%= link_to t('topbar.series'), series_index_path -%></li>
      </ul>
    </div>
  </div>
</div>

<% content_for(:footer_script, navbar_active_link_script) %>
