<!DOCTYPE html>
<html>
<head>
  <title><%= t('application.name').titleize %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="notice"><%= notice %></div>
  <div class="warn"><%= alert %></div>
  <%= render partial: 'common/navbar' %>

  <%= yield %>

  <%= content_for :footer_script %>
</body>
</html>
